*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper{
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;

}


.container{
    height: 700px;
    width: 512px;
    display: grid;
    grid-template-rows:30px 1fr 30px;
    grid-template-columns: 100px 400px;
    grid-gap: 5px;
    
    grid-template-areas: 
    
    "hd hd"
    "side main  "
    "ft ft"
    ;
    margin: 30px auto;
    text-align: center;
    
   
    

}

.box{

    background-color: green;
    border: 2px solid black;
}

#header{
    grid-area: hd;
}

#footer{
    grid-area: ft;
}
