*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: red;
    display: grid ;
    grid-template-columns: repeat(4 , 1fr );
    grid-template-rows: 50px 1fr 50px;
    gap: 5px;
    

}

.box{
    background-color: white;
    border: 1px solid black;
    text-align: center;
    font-size: 2rem;
}

#header{
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: chartreuse;
}

#footer{
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: bisque;


}
#content{
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: aquamarine;
}
#main{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: aqua;
}
#ad{
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: orange;
    
}
