* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  
}

.wrapper {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
}

.container h1 {
  font-size: 3rem;
  text-align: center;
  padding: 20px 0;
  text-shadow: 0px 0px 5px rgb(8, 8, 8);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 30%;

  position: relative;
  margin: 10px;
  overflow: hidden;
  border-radius: 20px;
  filter: grayscale(100%);
}
.card:hover {
  transform: scale(1.03); /* upward the image (look big)*/
  transition: 0.8s;
  filter: drop-shadow(0 0 10px #f3f3f3);
}
.card img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

.card figcaption {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  opacity: 0;
  transition: 0.3s;
  letter-spacing: normal;
}

.card:hover figcaption{
    opacity: 1;
    color: rgb(6, 225, 31);
    font-weight: 700;
    letter-spacing: 6px;
    text-shadow: 3px 3px 10px black;
    
}
