* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 600px;
  width: 600px;
  background-color: orange;
  border: 2px solid black;
}

.box {
  position: relative;
  height: 40px;
  border-radius: 23px;
  width: 200px;
  background-color: rgb(154, 6, 171);
  color: white;
  /* border: 2px solid black; */
  margin: 100px auto;
  padding: 8px;
  text-align: center;

  /* this is shorthand notation for transition property */
  /* transition: transition-property duration mode(ease , ease-in etc) delay; */
  transition: all 2s cubic-bezier(0.645, 0.045, 0.355, 1); 
}

.box:hover {
  transform: scale(1.08);
  box-shadow: 5px 10px 10px rgb(91, 90, 90);

  transform: rotate(360deg);
  background-color: azure;
  color: black;
  font-size: 1.2rem;
  font-weight: 700;
}


